In [4]:
import pandas as pd
data=pd.read_html("https://www.espn.in/soccer/table/_/league/eng.1")
data

[                       2022-2023
 0                    1ARSArsenal
 1            2MNCManchester City
 2          3TOTTottenham Hotspur
 3           4NEWNewcastle United
 4          5MANManchester United
 5                    6CHEChelsea
 6                     7FULFulham
 7     8BHABrighton & Hove Albion
 8                  9LIVLiverpool
 9            10CRYCrystal Palace
 10                11BREBrentford
 11                  12EVEEverton
 12          13WHUWest Ham United
 13          14BOUAFC Bournemouth
 14             15LEELeeds United
 15              16AVLAston Villa
 16              17SOUSouthampton
 17           18LEILeicester City
 18  19WOLWolverhampton Wanderers
 19        20FORNottingham Forest,
     GP   W  D  L   F   A  GD   P
 0   12  10  1  1  30  11  19  31
 1   12   9  2  1  37  11  26  29
 2   13   8  2  3  26  16  10  26
 3   13   6  6  1  24  10  14  24
 4   12   7  2  3  17  16   1  23
 5   12   6  3  3  17  15   2  21
 6   13   5  4  4  22  22   0  19
 7   12   5  3  4  19  15   4  18
 8   12   4  4  4  23  15   8  16
 9   12   4  4  4  13  16  -3  16
 10  13   3  6  4  19  22  -3  15
 11  13   3  5  5  11  12  -1  14
 12  13   4  2  7  11  13  -2  14
 13  13   3  4  6  12  28 -16  13
 14  12   3  3  6  15  19  -4  12
 15  13   3  3  7  11  20  -9  12
 16  13   3  3  7  11  20  -9  12
 17  13   3  2  8  21  25  -4  11
 18  13   2  4  7   6  19 -13  10
 19  13   2  3  8   8  28 -20   9]

In [5]:
type(data)

list

In [6]:
data[0]

                       2022-2023
0                    1ARSArsenal
1            2MNCManchester City
2          3TOTTottenham Hotspur
3           4NEWNewcastle United
4          5MANManchester United
5                    6CHEChelsea
6                     7FULFulham
7     8BHABrighton & Hove Albion
8                  9LIVLiverpool
9            10CRYCrystal Palace
10                11BREBrentford
11                  12EVEEverton
12          13WHUWest Ham United
13          14BOUAFC Bournemouth
14             15LEELeeds United
15              16AVLAston Villa
16              17SOUSouthampton
17           18LEILeicester City
18  19WOLWolverhampton Wanderers
19        20FORNottingham Forest

In [7]:
data[1]

    GP   W  D  L   F   A  GD   P
0   12  10  1  1  30  11  19  31
1   12   9  2  1  37  11  26  29
2   13   8  2  3  26  16  10  26
3   13   6  6  1  24  10  14  24
4   12   7  2  3  17  16   1  23
5   12   6  3  3  17  15   2  21
6   13   5  4  4  22  22   0  19
7   12   5  3  4  19  15   4  18
8   12   4  4  4  23  15   8  16
9   12   4  4  4  13  16  -3  16
10  13   3  6  4  19  22  -3  15
11  13   3  5  5  11  12  -1  14
12  13   4  2  7  11  13  -2  14
13  13   3  4  6  12  28 -16  13
14  12   3  3  6  15  19  -4  12
15  13   3  3  7  11  20  -9  12
16  13   3  3  7  11  20  -9  12
17  13   3  2  8  21  25  -4  11
18  13   2  4  7   6  19 -13  10
19  13   2  3  8   8  28 -20   9

In [8]:
type(data[0]) ## data frame bcz more than one column

pandas.core.frame.DataFrame

In [9]:
type(data[1])

pandas.core.frame.DataFrame

## to fetch data of GP

In [11]:
data[1]["GP"]

0     12
1     12
2     13
3     13
4     12
5     12
6     13
7     12
8     12
9     12
10    13
11    13
12    13
13    13
14    12
15    13
16    13
17    13
18    13
19    13
Name: GP, dtype: int64

In [12]:
type(data[1]["GP"])  ## one column that's why series

pandas.core.series.Series

In [13]:
data[0]["2022-2023"]  ## series- first one is index that's does not count as a column

0                      1ARSArsenal
1              2MNCManchester City
2            3TOTTottenham Hotspur
3             4NEWNewcastle United
4            5MANManchester United
5                      6CHEChelsea
6                       7FULFulham
7       8BHABrighton & Hove Albion
8                    9LIVLiverpool
9              10CRYCrystal Palace
10                  11BREBrentford
11                    12EVEEverton
12            13WHUWest Ham United
13            14BOUAFC Bournemouth
14               15LEELeeds United
15                16AVLAston Villa
16                17SOUSouthampton
17             18LEILeicester City
18    19WOLWolverhampton Wanderers
19          20FORNottingham Forest
Name: 2022-2023, dtype: object

In [14]:
type(data[0]["2022-2023"])

pandas.core.series.Series

### Task-1: to club both data frames

### club- using concatenation

### to read the file ex6

In [15]:
df=pd.read_csv("C:\\Users\\rupan\\OneDrive\\Desktop\\data_sets\\ex6.csv")
df

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [17]:
df.shape

(10000, 5)

### bcz of screen size all data is not visibe so we will do slicing to see the rows

In [18]:
df[0:30]

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
5   1.817480  0.742273  0.419395 -2.251035   Q
6  -0.776764  0.935518 -0.332872 -1.875641   U
7  -0.913135  1.530624 -0.572657  0.477252   K
8   0.358480 -0.497572 -0.367016  0.507702   S
9  -1.740877 -1.160417 -1.637830  2.172201   G
10  0.240564 -0.328249  1.252155  1.072796   8
11  0.764018  1.165476 -0.639544  1.495258   R
12  0.571035 -0.310537  0.582437 -0.298765   1
13  2.317658  0.430710 -1.334216  0.199679   P
14  1.547771 -1.119753 -2.277634  0.329586   J
15 -1.310608  0.401719 -1.000987  1.156708   E
16 -0.088496  0.634712  0.153324  0.415335   B
17 -0.018663 -0.247487 -1.446522  0.750938   A
18 -0.070127 -1.579097  0.120892  0.671432   F
19 -0.194678 -0.492039  2.359605  0.319810   H
20 -0.248618  0.868707 -0.492226 -0.717959   W
21 -1.091549 -0.867110 -0.647760 -0.832562   C
22  0.641404 -0.138822 -0.621963 -0.284839   C
23  1.216408  0.992687  0.165162 -0.069619   V
24 -0.564474  0.792832  0.747053  0.571675   I
25  1.759879 -0.515666 -0.230481  1.362317   S
26  0.126266  0.309281  0.382820 -0.239199   L
27  1.334360 -0.100152 -0.840731 -0.643967   6
28 -0.737620  0.278087 -0.053235 -0.950972   J
29 -1.148486 -0.986292 -0.144963  0.124362   Y

In [19]:
df[0:40]

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
5   1.817480  0.742273  0.419395 -2.251035   Q
6  -0.776764  0.935518 -0.332872 -1.875641   U
7  -0.913135  1.530624 -0.572657  0.477252   K
8   0.358480 -0.497572 -0.367016  0.507702   S
9  -1.740877 -1.160417 -1.637830  2.172201   G
10  0.240564 -0.328249  1.252155  1.072796   8
11  0.764018  1.165476 -0.639544  1.495258   R
12  0.571035 -0.310537  0.582437 -0.298765   1
13  2.317658  0.430710 -1.334216  0.199679   P
14  1.547771 -1.119753 -2.277634  0.329586   J
15 -1.310608  0.401719 -1.000987  1.156708   E
16 -0.088496  0.634712  0.153324  0.415335   B
17 -0.018663 -0.247487 -1.446522  0.750938   A
18 -0.070127 -1.579097  0.120892  0.671432   F
19 -0.194678 -0.492039  2.359605  0.319810   H
20 -0.248618  0.868707 -0.492226 -0.717959   W
21 -1.091549 -0.867110 -0.647760 -0.832562   C
22  0.641404 -0.138822 -0.621963 -0.284839   C
23  1.216408  0.992687  0.165162 -0.069619   V
24 -0.564474  0.792832  0.747053  0.571675   I
25  1.759879 -0.515666 -0.230481  1.362317   S
26  0.126266  0.309281  0.382820 -0.239199   L
27  1.334360 -0.100152 -0.840731 -0.643967   6
28 -0.737620  0.278087 -0.053235 -0.950972   J
29 -1.148486 -0.986292 -0.144963  0.124362   Y
30  1.630594  0.243886  0.468368  1.258048   F
31  1.044890  0.080718  0.857886 -0.298382   J
32 -0.262543 -1.615199 -1.087239  0.759029   T
33  0.020144  1.107792 -0.559435 -0.481925   M
34 -1.203916  1.885343 -0.080470  0.250646   J
35  0.366915 -2.430086 -1.053447  0.346279   A
36  0.434220 -0.079863 -0.422977 -0.074272   I
37  0.040666 -1.810216 -0.189193  1.229266   G
38  1.338459  0.338489 -0.213446  2.325923   Q
39  0.572981  0.782664  1.307673  1.619957   X

In [20]:
df[0:50]

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
5   1.817480  0.742273  0.419395 -2.251035   Q
6  -0.776764  0.935518 -0.332872 -1.875641   U
7  -0.913135  1.530624 -0.572657  0.477252   K
8   0.358480 -0.497572 -0.367016  0.507702   S
9  -1.740877 -1.160417 -1.637830  2.172201   G
10  0.240564 -0.328249  1.252155  1.072796   8
11  0.764018  1.165476 -0.639544  1.495258   R
12  0.571035 -0.310537  0.582437 -0.298765   1
13  2.317658  0.430710 -1.334216  0.199679   P
14  1.547771 -1.119753 -2.277634  0.329586   J
15 -1.310608  0.401719 -1.000987  1.156708   E
16 -0.088496  0.634712  0.153324  0.415335   B
17 -0.018663 -0.247487 -1.446522  0.750938   A
18 -0.070127 -1.579097  0.120892  0.671432   F
19 -0.194678 -0.492039  2.359605  0.319810   H
20 -0.248618  0.868707 -0.492226 -0.717959   W
21 -1.091549 -0.867110 -0.647760 -0.832562   C
22  0.641404 -0.138822 -0.621963 -0.284839   C
23  1.216408  0.992687  0.165162 -0.069619   V
24 -0.564474  0.792832  0.747053  0.571675   I
25  1.759879 -0.515666 -0.230481  1.362317   S
26  0.126266  0.309281  0.382820 -0.239199   L
27  1.334360 -0.100152 -0.840731 -0.643967   6
28 -0.737620  0.278087 -0.053235 -0.950972   J
29 -1.148486 -0.986292 -0.144963  0.124362   Y
30  1.630594  0.243886  0.468368  1.258048   F
31  1.044890  0.080718  0.857886 -0.298382   J
32 -0.262543 -1.615199 -1.087239  0.759029   T
33  0.020144  1.107792 -0.559435 -0.481925   M
34 -1.203916  1.885343 -0.080470  0.250646   J
35  0.366915 -2.430086 -1.053447  0.346279   A
36  0.434220 -0.079863 -0.422977 -0.074272   I
37  0.040666 -1.810216 -0.189193  1.229266   G
38  1.338459  0.338489 -0.213446  2.325923   Q
39  0.572981  0.782664  1.307673  1.619957   X
40  0.762428 -0.648529  1.936515 -1.159666   J
41 -1.252046 -1.538539  1.042281  0.623835   A
42 -0.047530 -0.494310 -0.165460  0.472929   J
43  0.124548  0.730791 -0.257527 -1.511257   G
44  0.801889 -0.462781 -1.734621  0.674768   R
45 -0.992307 -1.096830 -2.061794  0.035391   R
46 -0.109663  2.577094  0.913563  0.613594   V
47 -0.541681  1.510031  0.467945  0.553225   N
48 -0.079587 -0.609924  0.353834  1.108030   M
49 -0.043752 -0.410666 -0.729599  0.263223   P

In [21]:
df[0:60]

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
5   1.817480  0.742273  0.419395 -2.251035   Q
6  -0.776764  0.935518 -0.332872 -1.875641   U
7  -0.913135  1.530624 -0.572657  0.477252   K
8   0.358480 -0.497572 -0.367016  0.507702   S
9  -1.740877 -1.160417 -1.637830  2.172201   G
10  0.240564 -0.328249  1.252155  1.072796   8
11  0.764018  1.165476 -0.639544  1.495258   R
12  0.571035 -0.310537  0.582437 -0.298765   1
13  2.317658  0.430710 -1.334216  0.199679   P
14  1.547771 -1.119753 -2.277634  0.329586   J
15 -1.310608  0.401719 -1.000987  1.156708   E
16 -0.088496  0.634712  0.153324  0.415335   B
17 -0.018663 -0.247487 -1.446522  0.750938   A
18 -0.070127 -1.579097  0.120892  0.671432   F
19 -0.194678 -0.492039  2.359605  0.319810   H
20 -0.248618  0.868707 -0.492226 -0.717959   W
21 -1.091549 -0.867110 -0.647760 -0.832562   C
22  0.641404 -0.138822 -0.621963 -0.284839   C
23  1.216408  0.992687  0.165162 -0.069619   V
24 -0.564474  0.792832  0.747053  0.571675   I
25  1.759879 -0.515666 -0.230481  1.362317   S
26  0.126266  0.309281  0.382820 -0.239199   L
27  1.334360 -0.100152 -0.840731 -0.643967   6
28 -0.737620  0.278087 -0.053235 -0.950972   J
29 -1.148486 -0.986292 -0.144963  0.124362   Y
30  1.630594  0.243886  0.468368  1.258048   F
31  1.044890  0.080718  0.857886 -0.298382   J
32 -0.262543 -1.615199 -1.087239  0.759029   T
33  0.020144  1.107792 -0.559435 -0.481925   M
34 -1.203916  1.885343 -0.080470  0.250646   J
35  0.366915 -2.430086 -1.053447  0.346279   A
36  0.434220 -0.079863 -0.422977 -0.074272   I
37  0.040666 -1.810216 -0.189193  1.229266   G
38  1.338459  0.338489 -0.213446  2.325923   Q
39  0.572981  0.782664  1.307673  1.619957   X
40  0.762428 -0.648529  1.936515 -1.159666   J
41 -1.252046 -1.538539  1.042281  0.623835   A
42 -0.047530 -0.494310 -0.165460  0.472929   J
43  0.124548  0.730791 -0.257527 -1.511257   G
44  0.801889 -0.462781 -1.734621  0.674768   R
45 -0.992307 -1.096830 -2.061794  0.035391   R
46 -0.109663  2.577094  0.913563  0.613594   V
47 -0.541681  1.510031  0.467945  0.553225   N
48 -0.079587 -0.609924  0.353834  1.108030   M
49 -0.043752 -0.410666 -0.729599  0.263223   P
50 -0.761490  1.104182  1.270609 -0.319284   O
51 -0.804975  0.559520  1.052232 -0.645574   F
52  0.353941  1.829963  0.398922 -1.522231   O
53  1.541636  0.478316 -0.666760  1.367175   X
54 -0.987621  0.337534  0.386935  1.996144   Z
55 -0.353462 -0.448433 -0.420520  0.606223   N
56 -0.275687  0.127910  0.877756  0.141774   6
57  0.448882 -0.016410 -0.041434  0.483096   6
58 -0.043765 -0.878446  1.525075  0.008223   Q
59 -0.064416  0.080921  0.644715  0.393025   T

In [24]:
df[0:62]   ## data is visible till 60 rows

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
..       ...       ...       ...       ...  ..
57  0.448882 -0.016410 -0.041434  0.483096   6
58 -0.043765 -0.878446  1.525075  0.008223   Q
59 -0.064416  0.080921  0.644715  0.393025   T
60  0.015018 -1.620301  0.465866  1.637377   X
61  0.579715 -0.565646 -0.812129  1.532803   H

[62 rows x 5 columns]

In [26]:
df[60:120]

          one       two     three      four key
60   0.015018 -1.620301  0.465866  1.637377   X
61   0.579715 -0.565646 -0.812129  1.532803   H
62  -0.324507  1.853351 -2.268609 -0.355132   F
63  -0.100247 -1.954614  0.132519  0.836927   K
64   0.275725  0.349561 -0.617723  0.675991   F
65   0.300486 -0.914367 -1.604609 -0.905458   P
66  -0.362382  0.708361 -0.388317 -2.328763   I
67   0.805331  0.073617  0.481166  0.632621   Q
68   0.786095  0.095137 -1.049965  1.828798   K
69   0.207815  1.407275 -1.044800  0.140207   2
70   1.809750  0.592023 -0.146215 -0.113818   J
71   0.190562 -2.886359  0.514365 -2.208118   F
72   0.844977 -0.164290  0.218672  0.099012   D
73   0.195035 -0.649591  2.171664  0.453466   I
74  -0.056433  1.758650 -0.448091  0.346784   C
75  -0.112609 -2.642457 -0.487310 -0.220507   K
76  -1.395319  0.573474 -0.013324 -1.307070   C
77  -2.080273  0.097498  0.321489  0.012608   E
78   0.883172  0.490427 -0.799299 -0.699669   U
79  -0.138632 -1.417845 -0.199678  1.199299   V
80  -0.961579  1.166247 -1.124953  0.201728   D
81   1.301453  1.077117  0.560502  0.859991   U
82   0.063679 -0.995532  0.879547 -0.012471   R
83  -0.373381  0.982861 -0.037534 -1.337856   G
84   1.492292  0.485490  0.129313  1.733569   Y
85  -0.908492  0.498234 -0.588844 -0.903956   8
86   1.137140  0.977509 -0.940994  0.149013   7
87  -1.049838  2.453425  1.230087 -2.068508   K
88   1.485199 -0.806453 -0.475087  0.936801   D
89  -0.790437  1.823852  0.470827  0.898782   J
90   2.024808  0.032251  1.315297 -0.156433   S
91   0.379253 -1.059409 -1.132068  1.222296   I
92   2.403216 -1.792528 -0.917573 -0.886693   T
93   1.249975  1.491530  0.371476 -0.000465   C
94   0.501131 -1.852451  1.110354  0.508865   E
95   1.106521  0.098153  0.789793  1.192693   T
96  -0.540543  1.782569  0.051931  0.463868   Q
97  -0.101980  0.981720  1.106990 -1.752269   M
98   0.632107 -0.761419  1.427930 -0.046928   F
99   1.009779 -0.608379 -1.405105 -1.175054   F
100 -0.602748 -0.182504 -0.768164  1.260686   X
101 -0.039105 -0.069510 -1.358052 -0.292859   0
102 -0.345101 -0.179477 -0.904658 -0.071287   T
103 -0.759495  0.225916  2.235872 -0.004490   X
104 -1.686771  0.742276  0.485876  1.798507   Q
105  0.145697  0.805037  0.350362 -0.540235   O
106  2.487654 -0.147867  0.580688 -0.305696   S
107  0.380166 -0.592483  0.393693 -0.463217   M
108  0.963549 -1.550302 -0.944962  0.121546   K
109 -0.040385 -0.312649 -1.196604  1.075043   S
110  0.938357 -0.235761 -0.077360  1.162150   4
111  0.190303 -0.425473  0.362347 -0.688711   U
112  0.256419  0.082669 -2.302758 -0.446115   6
113  0.690972  0.871498  0.948469  0.644683   7
114 -1.157781  0.093696 -0.765273 -0.724767   Q
115 -0.295462 -0.832817  1.490204 -0.420786   F
116  0.132723 -1.255780  1.370008  1.144490   I
117 -0.111381  0.572076  1.807962  1.090205   N
118  0.178700 -1.608832  2.174615 -1.351738   6
119  1.202183  0.179583  0.202061 -0.731213   F

In [27]:
df[500:560]

          one       two     three      four key
500 -0.264040 -1.204051  0.504199  0.602873   9
501  2.027584 -0.097576 -0.445689  1.965018   I
502  1.342573  1.231400  1.723257  1.332216   B
503  1.536042  1.585264  0.904740  0.972697   G
504 -0.494593  0.008418  1.512647 -0.114531   L
505  0.796604  0.242223 -0.381732 -0.006187   L
506 -0.103388  0.690857 -0.217870 -0.399363   4
507 -1.055039  1.263498 -0.294833 -0.131290   Y
508  0.769964 -0.077621 -1.569057  1.759866   H
509 -0.380482 -0.444606 -0.959613  0.375138   Z
510  0.343652  1.653497  0.361990  1.413521   Q
511 -1.037169  0.466151 -0.483780  1.754663   W
512 -1.370660 -0.066661  0.780669 -0.341960   S
513 -1.218953 -1.185454 -0.313377  0.509477   L
514  0.320657 -2.371135  1.327589 -1.326688   5
515 -0.021378 -0.062101  0.573617 -0.603958   I
516  0.703793  0.094209  0.212399 -0.698490   Y
517  0.126527 -0.597758  0.772462  0.406615   Y
518  0.472917 -0.828902 -0.236532  1.138180   3
519 -0.903719 -1.377777 -1.844190 -0.472677   I
520  1.024344 -0.450261 -0.683783 -0.661729   3
521  0.127562  0.164955  0.302059 -0.774069   V
522  1.114310  0.040545 -1.945605 -0.051613   3
523 -1.105121  2.330199 -1.632064 -0.642056   C
524 -0.638923  2.087784 -0.664267  1.279759   7
525  0.394658 -1.415181  0.909133 -1.030027   R
526  0.229629  1.221449  0.267325  1.546965   X
527 -0.754186 -1.428343  1.642931  1.298858   5
528  0.276274  0.759065 -0.779600  0.224756   D
529  0.701377  0.120162  1.432007 -0.151164   E
530 -0.595785 -1.448381 -1.434809 -1.878632   J
531  0.500949  0.070500 -0.443117  0.457912   9
532  0.859546  2.785971 -0.532929 -1.136828   J
533  0.711861  0.002736 -0.400844  0.551365   6
534 -1.445062 -0.611055 -0.322967  0.547384   J
535  0.954100 -1.257360  1.008903 -0.906558   U
536 -0.833364  1.040694  1.197968 -1.312923   I
537 -1.292614  0.276692 -1.050741  1.534013   B
538 -1.013760 -0.066572 -0.620854  0.730214   H
539 -0.976169 -0.974598 -2.197370  1.852371   X
540 -1.329730  1.085331  1.980574  1.176841   K
541 -0.218698  0.084666 -0.173542 -0.651511   Q
542 -1.982991  1.643599  1.468598  1.516742   J
543  1.164884  0.020764 -0.533329 -1.145035   A
544 -1.491799  0.007564  0.616605 -1.037414   J
545 -0.996030  0.137301  1.731782  0.175898   J
546  0.303861 -1.052662 -0.970055 -0.785081   I
547 -1.001332  0.017181  1.782410 -1.190568   D
548 -0.336102 -0.821629 -0.626185  0.571429   L
549  0.422550  0.500042  0.513456  0.488156   U
550  1.867871  1.484582 -1.357443 -2.626637   N
551  2.005167 -0.685622 -1.561030  0.182441   I
552  0.597000  0.222708  0.305168 -0.080533   X
553 -0.508773  1.021734  1.108644  0.943291   F
554 -1.179020  0.036331  1.042837  1.088222   E
555  0.951402 -0.307578 -0.368335  0.251813   B
556  1.218339  0.713224 -1.293507 -0.760257   Q
557 -0.637575  0.264305 -1.318301 -0.356751   P
558 -0.279952 -0.480788  0.570095  0.064280   O
559  0.070160  1.671392 -0.799068  1.152375   J

### to read top 10 rows

In [28]:
df.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

### head is used to see top 5 rows

In [29]:
## for top 10
df.head(10)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

## to read bottom use tail()

In [30]:
df.tail()

           one       two     three      four key
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

In [31]:
df.tail(10) ### to read 10 bottom

           one       two     three      four key
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

In [32]:
df=pd.read_csv("C:\\Users\\rupan\\OneDrive\\Desktop\\data_sets\\ex6.csv")
df

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [34]:
df=pd.read_csv("C:\\Users\\rupan\\OneDrive\\Desktop\\data_sets\\ex6.csv",sep=",",iterator=True,chunksize=1000)
df  ## df is iterator now

In [36]:
type(df)

pandas.io.parsers.readers.TextFileReader

## we want to read our data from iterator, we wiil use next

In [37]:
a=next(df)
a

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]

In [38]:
a=next(df)
a

           one       two     three      four key
1000  0.467976 -0.038649 -0.295344 -1.824726   T
1001 -0.358893  1.404453  0.704965 -0.200638   J
1002 -0.501840  0.659254 -0.421691 -0.057688   R
1003  0.204886  1.074134  1.388361 -0.982404   S
1004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
1995  2.311896 -0.417070 -1.409599 -0.515821   L
1996 -0.479893 -0.650419  0.745152 -0.646038   J
1997  0.523331  0.787112  0.486066  1.093156   V
1998 -0.362559  0.598894 -1.843201  0.887292   W
1999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]

In [39]:
a=next(df)
a

           one       two     three      four key
2000  0.467976 -0.038649 -0.295344 -1.824726   1
2001 -0.358893  1.404453  0.704965 -0.200638   H
2002 -0.501840  0.659254 -0.421691 -0.057688   F
2003  0.204886  1.074134  1.388361 -0.982404   L
2004  0.354628 -0.133116  0.283763 -0.837063   E
...        ...       ...       ...       ...  ..
2995  2.311896 -0.417070 -1.409599 -0.515821   H
2996 -0.479893 -0.650419  0.745152 -0.646038   U
2997  0.523331  0.787112  0.486066  1.093156   A
2998 -0.362559  0.598894 -1.843201  0.887292   Y
2999 -0.096376 -1.012999 -0.657431 -0.573315   F

[1000 rows x 5 columns]

In [40]:
a=next(df)
a

           one       two     three      four key
3000  0.467976 -0.038649 -0.295344 -1.824726   H
3001 -0.358893  1.404453  0.704965 -0.200638   Y
3002 -0.501840  0.659254 -0.421691 -0.057688   0
3003  0.204886  1.074134  1.388361 -0.982404   Z
3004  0.354628 -0.133116  0.283763 -0.837063   U
...        ...       ...       ...       ...  ..
3995  2.311896 -0.417070 -1.409599 -0.515821   W
3996 -0.479893 -0.650419  0.745152 -0.646038   E
3997  0.523331  0.787112  0.486066  1.093156   Q
3998 -0.362559  0.598894 -1.843201  0.887292   A
3999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]

In [41]:
a=next(df)
a

           one       two     three      four key
4000  0.467976 -0.038649 -0.295344 -1.824726   H
4001 -0.358893  1.404453  0.704965 -0.200638   Z
4002 -0.501840  0.659254 -0.421691 -0.057688   2
4003  0.204886  1.074134  1.388361 -0.982404   B
4004  0.354628 -0.133116  0.283763 -0.837063   1
...        ...       ...       ...       ...  ..
4995  2.311896 -0.417070 -1.409599 -0.515821   X
4996 -0.479893 -0.650419  0.745152 -0.646038   M
4997  0.523331  0.787112  0.486066  1.093156   5
4998 -0.362559  0.598894 -1.843201  0.887292   T
4999 -0.096376 -1.012999 -0.657431 -0.573315   U

[1000 rows x 5 columns]

In [42]:
df=pd.read_csv("C:\\Users\\rupan\\OneDrive\\Desktop\\data_sets\\ex6.csv",nrows=10)
df      ## if we use nrows while creation than dataframe will be of 10 rows only, we want all data frame , use header instead

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [43]:
top=df.head(10)   ## no change in original file(df)
top

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

### writing in csv-name.to_csv("filename")

In [44]:
top.to_csv("top10.csv")  ## created in current directory